<form class="form-horizontal" n:name="pigLatinForm">
	<h3>Translator</h3>
	<div class="ibox-content">
		<div class="alert alert-danger" n:if="$form->hasErrors()">
			{foreach $form->errors as $error}
				{$error}
			{/foreach}
		</div>
	</div>

	<div class="form-group"><label class="col-sm-2 control-label">{label text} <strong class="text-warning">*</strong></label>
		<div class="col-sm-10"><input n:name="text" class="form-control"></div>
	</div>

	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-2">
			<button class="btn btn-primary" n:name="send" type="submit">Translate</button>
		</div>
	</div>
</form>